{% load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Reservation</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">



		<link rel="stylesheet" href="{% static 'css/style1.css' %}">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('images/inner-blog-img.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'images/appreciated!.png' %}" alt="">
				</div>
				<form action=" {% url 'reserve' %} " method="post">
					{% csrf_token %} 
					<h3>Reservation</h3>
					<div class="form-group">
						<input type="text" placeholder="First Name" class="form-control" name="fname" required>
						<input type="text" placeholder="Last Name" class="form-control" name="lname" required>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Username" class="form-control" name="uname1" required>
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Email Address" class="form-control" name="email2" required>
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Number" class="form-control" name="num1" required>
						<i class="zmdi zmdi-phone"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Time" class="form-control" name="Time" required>
						<i class="zmdi zmdi-time"></i>
					</div>
					<button>Reserve
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
					<button><a href="{% url 'home' %}" style="color: wheat;">Home</a>
						<i class="zmdi zmdi-home"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body>
</html>